.root {
    -fx-font-size: 14px;
    -fx-font-family: "Helvetica";
    -fx-background-color: rgb(255, 255, 255);
    -fx-text-align: center;
}

.h1 {
    -fx-font-size: 46px;
    -fx-font-weight: bold;
}

.speaker-line {
    -fx-font-size: 22px;
}

.demo {
    -fx-font-size: 58px;
    -fx-font-weight: bold;
    -fx-text-fill: rgb(29, 21, 97);
}
